/********************TAG Selectors*********************/
body{
    background-color: #b3ffe6;
}

h1{
    color: red; 
    font-size: 60px;
}

img:hover{
    background-color:gold;
}

/*******************CLASS Selectors********************/

.Bacon{
    background-color: green;
}
.Broccoli{
    background-color: red;
}

/********************ID Selectors*************************/

#heading{
    color: blue;
}